.yongoma-page {
    min-height: 100vh;
    padding: 50px 20px;
    background-color: #f9f8f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .yongoma-title {
    font-size: 2rem;
    font-weight: bold;
    color: #0d1b3d;
    margin-bottom: 20px;
  }
  
 
  .yongoma-details p {
    color: #333;
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .yongoma-message p {
    margin-top: 15px;
    color: #333;
  }
  
  .yongoma-message .italic {
    font-style: italic;
    color: #666;
  }
  