@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* GLOBAL FONT */
.footer,
.footer * {
  font-family: "Raleway", sans-serif;
}

/* FOOTER BASE */
.footer {
  background: #f4f1f1;
  color: white;
  padding: 60px 30px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}

/* LOGO */
.footer-logo {
  width: 120px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.footer-about {
  line-height: 1.6;
  opacity: 0.8;
}

/* HEADINGS */
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

/* QUICK LINKS */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.footer-links a:hover {
  opacity: 1;
}

/* BRANCH LIST */
.footer-branch-list {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.footer-branch-list li {
  margin-bottom: 6px;
  font-size: 14px;
  opacity: 0.9;
}

/* CONTACT LINKS */
.footer-section a {
  color: #0e0850;
  opacity: 0.85;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding: 15px 0 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 14px;
  opacity: 0.8;
}


/* RESPONSIVE SMALL SCREENS */
@media (max-width: 600px) {
  .footer {
    padding: 50px 5%;
  }

  .footer-bottom {
    font-size: 0.85rem;
  }
}
