/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #faf9f6; /* off-white */
  color: #0d1b3d; /* dark blue */
}

body, html, #root {
  margin: 0;
  padding: 0;
  background: #000; /* black behind hero video */
}

.home-container {
  position: relative;
  z-index: 0;
}


h1, h2, h3, h4 {
  color: #e63946; /* red titles */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
